.navbar {
	padding: 20px 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.navabarLogo {
	flex: 33.33%;
	width: 100%;
	margin-top: -14px;
	padding-left: 10px;
}

.navabarLogo>.navabarBox {
	padding: 0 5px 7px 0;
	width: 85%;
}

.navabarBox>.mainImg {
	width: 80%;
}

.navabarBox>.navbarTitle {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	color: gray;
	margin-top: -11px;
	margin-left: 5px;
}

.navabarBox>.navbarTitle>span {
	color: rgb(61, 198, 193);
}

.navabarBox>.mainImg,
.navabarBox>.navbarTitle>span:hover {
	cursor: pointer;
}

.navbarToggle {
	flex: 33.33%;
	padding: 10px 5px;
}

.navbarToggleBox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
}

.navbarToggleBox>button {
	margin: 0 10px;
	vertical-align: middle;
	height: 36px;
	border-radius: 10px;
	background-color: #2e3241;
	color: #fff;
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	outline: none;
	text-align: center;
	border: none;
	padding: 0 15px;
}

.navbarToggleBox>.lightTheme {
	color: #0c0f48;
	background-color: #f8f9fa;
	box-shadow: 0 0 2px #ddd;
}

.navbarToggleBox>.clicked {
	color: #fff;
	background-color: #545b62;
	border: 2px solid #474b50;
}

.navbarToggleBox>button:hover {
	cursor: pointer;
}

.navbarLink {
	flex: 33.33%;
	padding: 10px 5px;
}

.navbarLinkBox {
	float: right;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbarLinkBox>.navbarLink__timer {
	position: relative;
	height: 36px;
	width: 36px;
	padding: 10px;
	margin-top: -22px;
	margin-right: 20px;
}

.navbarLink__timer>.timer {
	position: absolute;
	color: #3dc6c1;
	left: 20px;
	top: 20px;
}

.telegramBtn {
	margin: 10px !important;
	padding: 6px 20px !important;
	border-radius: 10px !important;
	background-color: #3dc6c1 !important;
	text-transform: none !important;
}

.button__text {
	color: #fff;
	font-family: "oswald", sans-serif;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	margin-left: 10px;
}

.telegram__logo {
	height: 15px;
}

.toggle__switch {
	margin-left: 5px;
}

@media only screen and (max-width: 768px) {
	.navabarLogo {
		flex: 100%;
		width: 100%;
		margin-top: 0;
		padding-left: 0;
	}
	.navabarLogo>.navabarBox {
		width: 100%;
		padding: 0;
		padding-top: 10px;
	}
	.navabarBox>.mainImg {
		width: 85%;
		padding-left: 12.5%;
	}
	.navabarBox>.navbarTitle {
		margin-top: -12px;
		font-size: 18px;
		text-align: center;
		margin-left: -5px;
	}
	.navbarToggle {
		flex: 100%;
		width: 100%;
	}
	.navbarToggleBox {
		height: 41px;
		padding-top: 10px;
	}
	.navbarToggleBox>button {
		margin: 0 5px;
		vertical-align: middle;
		height: 31px;
		border-radius: 10px;
		background-color: #2e3241;
		color: #fff;
		font-family: "Oswald", sans-serif;
		font-size: 15px;
		font-weight: 400;
		outline: none;
		text-align: center;
		border: none;
		padding: 3px 9px;
	}
	.navbarLink {
		flex: 100%;
		width: 100%;
	}
	.navbarLinkBox {
		float: none;
		margin-top: -10px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.navbarLinkBox>.navbarLink__timer {
		height: 25px;
		width: 25px;
		margin-top: -30px;
		margin-right: 32px;
	}
	.telegramBtn {
		padding: 6px 10px !important;
	}
}

.navbarMain {
	padding: 0 30px;
	max-width: 100vw;
	text-align: center;
	font-family: "Oswald", sans-serif;
}

h3 {
	color: gray;
	font-weight: normal;
	font-size: 30px;
}

.values {
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
}

.grp>h3 {
	padding-top: 20px;
	font-weight: 400;
	color: #5dc7c2;
	font-size: 40px;
}

.grp>p {
	font-size: 22px;
	color: grey;
}

.amount>h3 {
	font-size: 80px;
	color: #fff;
}

.amount>.lightTheme {
	color: #0c0f48;
}

.amount>p {
	color: gray;
	font-size: 18px;
}

.mainImg {
	padding-top: 35px;
	width: 100%;
}

.mainImg:hover {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	h3 {
		font-size: 18px;
	}
	.values {
		padding: 0 10px;
	}
	.grp {
		margin: -8px 5px 0;
	}
	.grp>h3 {
		font-weight: 400;
		font-size: 14px;
	}
	.grp>p {
		font-weight: 300;
		font-size: 10px;
	}
	.amount>h3 {
		font-weight: 400;
		font-size: 20px;
	}
	.amount>p {
		color: gray;
		margin-top: 3px;
		font-size: 10px;
	}
	.mainImg {
		padding-top: 35px;
	}
}

.container {
	padding: 10px 20px 0;
	display: flex;
	flex-direction: column;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: scroll;
  }
  .TableRow {
	margin: 8px 0 4px 0;
	padding: 5px 0;
	border-radius: 10px;
	display: flex;
	font-weight: 500;
	letter-spacing: 0.5px;
	justify-content: space-between;
	font-size: 24px;
	color: gray;
  }
  .TableRow > .bsp,
  .TableRow > .loss,
  .TableRow > .ltp,
  .platform,
  .TableRow.difference,
  .TableRow > .serial:hover {
	cursor: pointer;
  }
  .row {
	margin: 8px 0;
	padding: 5px 0;
	border-radius: 10px;
	display: flex;
	font-weight: 400;
	letter-spacing: 0.5px;
	justify-content: space-between;
	font-size: 24px;
	color: #fff;
	background-color: #2e3241;
  }
  .serial {
	text-align: center;
	width: 6%;
	padding: 6px 6px!important;
	white-space: nowrap;  
  }
  .platform,
  .ltp,
  .difference,
  .profit {
	width: 16%;
	text-align: center;
	padding: 6px 6px!important;
	white-space: nowrap;
  }
  .bsp {
	width: 30%;
	text-align: center;
	padding: 6px 3px!important;
	white-space: nowrap;
  }
  .row > .difference,
  .row > .profit {
	color: #5dc7c2;
  }
  .row > .loss {
	color: #da5757;
  }
  ::-webkit-scrollbar {
	width: 0;
  }


  .lightTheme{
	background-color: #f8f9fa;
  }

  .lightTheme > .platform {
	color: black;
  }
  .lightTheme > .serial,
  .lightTheme > .ltp,
  .lightTheme > .bsp {
	color: #0c0f48;
  }
  
  @media only screen and (max-width: 768px) {
	.container {
	  margin-bottom: -12px;
	}
	.row,
	.TableRow {
	  width: 786px;
	  font-family: Oswald;
	  font-size: 15px;
	}
	.TableRow {
	  font-size: 20px;
	  font-weight: 800;
	}
	.platform > span > img {
	  max-height: 10px;
	}
  }
  