.footer {
	min-height: 100px;
}

.footerBody {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.footerInfo {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.footerInfo>div,
.footerContact>div {
	font-size: 12px;
	font-weight: 400;
	color: #888686;
}

.footerInfo>div>span {
	color: rgb(61, 198, 193);
}

@media only screen and (max-width: 768px) {
	.footerInfo {
		width: 84%;
	}
	.footerInfo>div {
		font-size: 10px;
	}
}