@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&family=Montserrat:400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100%;
  background-color: #191d28;
  display: flex;
  flex-direction: column;
}

.white__theme {
  background-color: #ffffff;
}
